
*{
  box-sizing: border-box; 
}
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 10px; 
    margin-top: 20px;
  }
  
  .feature {
    background-color: #333; /* Fondo oscuro para las tarjetas */
    color: #fff; /* Texto en blanco */
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    flex: 1; /* Permite que las tarjetas crezcan proporcionalmente */
  }
  
  .feature h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .feature p {
    font-size: 2rem;
    line-height: 1.5;
  }

  .FinalText {
    color: #fff;
    margin: 0;/* Ajusta los márgenes superior e inferior */
    padding: 0; /* Asegúrate de no agregar padding innecesario */
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    margin-top: 300px;
    margin-bottom: 0;
}

  