.App-header {
  position: relative; /* Asegura que el encabezado ocupe su espacio natural */
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  font-size: 40px; 
  color: rgb(255, 255, 255); 
  font-family: italic;
  font-weight: 50px;
  z-index: 1;
  margin-bottom: 20px;
  gap: 150px;
}