.App-header {
  position: relative; /* Asegura que el encabezado ocupe su espacio natural */
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  font-size: 40px; 
  color: rgb(255, 255, 255); 
  font-family: 'Arial', sans-serif; /* Cambia la fuente a Arial */
  font-weight: 100;
  z-index: 1; /* Asegura que el encabezado esté debajo de los videos */
  background: transparent;
}