.App-header {
    background-color: #2c4330;
    min-height: 100vh;
    display: grid;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-style: italic;
  }