.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.image-container img {
  max-width: 100%;
  height: auto;
}